Web References/WebReference/WS_Breathing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EstaRegistrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstaRegistradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EstaRegistradoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rolName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="e_mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEnfermedades">
        <s:complexType />
      </s:element>
      <s:element name="listaEnfermedadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEnfermedadesResult" type="tns:ArrayOfEnfermedad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEnfermedad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Enfermedad" nillable="true" type="tns:Enfermedad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Enfermedad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="des" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sintomas" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Sintomas" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="riesgoEnfermedad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enfermedad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="respuestas" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="riesgoEnfermedadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="riesgoEnfermedadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EstaRegistradoSoapIn">
    <wsdl:part name="parameters" element="tns:EstaRegistrado" />
  </wsdl:message>
  <wsdl:message name="EstaRegistradoSoapOut">
    <wsdl:part name="parameters" element="tns:EstaRegistradoResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapIn">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="listaEnfermedadesSoapIn">
    <wsdl:part name="parameters" element="tns:listaEnfermedades" />
  </wsdl:message>
  <wsdl:message name="listaEnfermedadesSoapOut">
    <wsdl:part name="parameters" element="tns:listaEnfermedadesResponse" />
  </wsdl:message>
  <wsdl:message name="riesgoEnfermedadSoapIn">
    <wsdl:part name="parameters" element="tns:riesgoEnfermedad" />
  </wsdl:message>
  <wsdl:message name="riesgoEnfermedadSoapOut">
    <wsdl:part name="parameters" element="tns:riesgoEnfermedadResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_BreathingSoap">
    <wsdl:operation name="EstaRegistrado">
      <wsdl:input message="tns:EstaRegistradoSoapIn" />
      <wsdl:output message="tns:EstaRegistradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input message="tns:RegistrarSoapIn" />
      <wsdl:output message="tns:RegistrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEnfermedades">
      <wsdl:input message="tns:listaEnfermedadesSoapIn" />
      <wsdl:output message="tns:listaEnfermedadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="riesgoEnfermedad">
      <wsdl:input message="tns:riesgoEnfermedadSoapIn" />
      <wsdl:output message="tns:riesgoEnfermedadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_BreathingSoap" type="tns:WS_BreathingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstaRegistrado">
      <soap:operation soapAction="http://tempuri.org/EstaRegistrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEnfermedades">
      <soap:operation soapAction="http://tempuri.org/listaEnfermedades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="riesgoEnfermedad">
      <soap:operation soapAction="http://tempuri.org/riesgoEnfermedad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_BreathingSoap12" type="tns:WS_BreathingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstaRegistrado">
      <soap12:operation soapAction="http://tempuri.org/EstaRegistrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap12:operation soapAction="http://tempuri.org/Registrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEnfermedades">
      <soap12:operation soapAction="http://tempuri.org/listaEnfermedades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="riesgoEnfermedad">
      <soap12:operation soapAction="http://tempuri.org/riesgoEnfermedad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Breathing">
    <wsdl:port name="WS_BreathingSoap" binding="tns:WS_BreathingSoap">
      <soap:address location="http://150.214.108.138/WS_Breathing/WS_Breathing.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_BreathingSoap12" binding="tns:WS_BreathingSoap12">
      <soap12:address location="http://150.214.108.138/WS_Breathing/WS_Breathing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>